<div class="span7 offset4">
	<div class="boxy">

		<h1 class="custom-font">Hi I'm Pathana</h1>


		<p class="custom-font">I'm a web designer/developer and this is my first Ruby app. It was a pain to make in two days, but it was definitely worth it.</p>

		<%= link_to('Check out my App', pics_path, :class => 'btn btn-success btn-large') %>

	</div>
</div>