<div class="" >
	<h2 class="custom-pic-header">Here are all the pics!</h2>
</div>

	<% @pics.each do |pic| %>
	<div class="span3">
		<div class="boxy">
			<h2>Hour: <%= pic.hour %></h2>
			<p>
			<h4>Emotion:</h4> <%= pic.emotion %>
			<br><br>
			<h4>What I Learned:</h4> <%= pic.learned %>
		</div>
	</div>
	<% end %>
	<br>
